extends ../../layouts/default.pug
include ../../mixins/fillterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
block main
  .container.my-4
    // Thanh tìm kiếm & lọc
    .row.mb-3
      .col-md-4 
              +fillterStatus(fillerButton)
      .col-md-5
        +searchForm(keyword)
      

      .col-md-3
        select.form-select
          option(value="") Tất cả danh mục
          option Áo
          option Quần
          option Phụ kiện
    // Bảng sản phẩm
    .card.shadow
      .card-body
        table.table.table-hover.align-middle
          thead.table-dark
            tr
              th Ảnh
              th Tên sản phẩm
              th Giá
              th Tồn kho
              th Trạng thái
              th Hành động
          tbody
            each item in productsList
              tr
                td
                  img.rounded.img-fluid(
                    alt="product" 
                    src=`${item.thumbnail}`
                    style="height:50px; width:50px"
                    )
                td #{item.title}
                td #{item.price}$
                td #{item.quanlity} Cái
                td
                  if ( item.status == "active")
                    span.badge.bg-success(
                      data-status=item.status
                      data-id=item.id 
                      btn-change-status
                    ) Hoạt động
                  else 
                    span.badge.bg-warning(
                      data-status=item.status
                      data-id=item.id 
                      btn-change-status
                    ) Ngưng hoạt động 
                td
                  a.btn.btn-warning.btn-sm(href="#")
                    i.fas.fa-edit
                  a.btn.btn-danger.btn-sm(href="#")
                    i.fas.fa-trash
            
            
        // Phân trang mixin
        +pagination(pagination)
        form(
          action="",
          method="POST"
          id="form-change-status"
          data-path=`${prefixAdmin}/products/change-status` 
        ) 
        script(src="/admin/js/products.js") 